/* dark-theme.css */
body {
  background-color: #121212;
  color: #ffffff;
}
* {
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

a {
  color: #0d6efd;
}

a:hover {
  color: #0a58ca;
}

.navbar {
  background-color: #343a40;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
}

/* Customize other Bootstrap components as needed */
.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}